/* Color Theme Swatches in Hex */
$GKA-Theme-1-hex: #283033;
$GKA-Theme-2-hex: #1E898B;
$GKA-Theme-3-hex: #7EDACF;
$GKA-Theme-4-hex: #F59074;
$GKA-Theme-5-hex: #FAB437;

/* Color Theme Swatches in RGBA */
$GKA-Theme-1-rgba: rgba(40,48,51, 1);
$GKA-Theme-2-rgba: rgba(30,137,139, 1);
$GKA-Theme-3-rgba: rgba(126,218,207, 1);
$GKA-Theme-4-rgba: rgba(245,144,116, 1);
$GKA-Theme-5-rgba: rgba(250,180,55, 1);

/* Color Theme Swatches in HSLA */
$GKA-Theme-1-hsla: hsla(196, 12, 17, 1);
$GKA-Theme-2-hsla: hsla(181, 64, 33, 1);
$GKA-Theme-3-hsla: hsla(172, 55, 67, 1);
$GKA-Theme-4-hsla: hsla(13, 86, 70, 1);
$GKA-Theme-5-hsla: hsla(38, 95, 59, 1);

/* Color Theme Swatches in Hex */
$UI-Color-1-hex: #FEEED0;
$UI-Color-2-hex: #F11515;
$UI-Color-3-hex: #337AB7;
$UI-Color-4-hex: #095950;
$UI-Color-5-hex: #34A03C;

/* Color Theme Swatches in RGBA */
$UI-Color-1-rgba: rgba(254,238,208, 1);
$UI-Color-2-rgba: rgba(241,21,21, 1);
$UI-Color-3-rgba: rgba(51,122,183, 1);
$UI-Color-4-rgba: rgba(9,89,80, 1);
$UI-Color-5-rgba: rgba(52,160,60, 1);

/* Color Theme Swatches in HSLA */
$UI-Color-1-hsla: hsla(39, 95, 90, 1);
$UI-Color-2-hsla: hsla(0, 88, 51, 1);
$UI-Color-3-hsla: hsla(207, 56, 45, 1);
$UI-Color-4-hsla: hsla(173, 81, 19, 1);
$UI-Color-5-hsla: hsla(124, 50, 41, 1);
