@import url("https://use.typekit.net/zpd0swy.css");

/*
  font-family: soleil, sans-serif;
  font-family: gibbs, sans-serif;
*/

%soleil{
  font-family: soleil, sans-serif;
}

%gibbs {
  font-family: gibbs, sans-serif;
}
