html,
body {
	overflow-x: hidden;
	overflow-y: auto;

}

section,footer {

}

h1 {

}

h2 {

}

h3 {

}

h4{

}

p {

}

footer{

}


button {
	border-radius: 4px;
	&:hover, &:focus {

	}
}

button, button:active{

}

a{

}

article {

	p {

	}

}
