html,
body {
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	padding-left: 25px;
	padding-right: 25px;
}

section,footer {

}

h1 {
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
}

h3 {

}

h4{

}

p {

}

footer{
	bottom: 0;
}


button {
	border-radius: 4px;
	&:hover, &:focus {

	}
}

button, button:active{

}

a{

}

article {

	p {

	}

}
