@import 'adobe';


$OuterSpace: $GKA-Theme-1-rgba;
$Elm: $GKA-Theme-2-rgba;
$Bermuda: $GKA-Theme-3-rgba;
$DeepSeaGreen: $UI-Color-4-rgba;
$SandyBrown: $GKA-Theme-4-rgba;
$Coral: #ff7954;
$Oasis: $UI-Color-1-rgba;
$OasisLight: color($Oasis, 97%);
$SeaBuckthorn: $GKA-Theme-5-rgba;

$Paradiso: $HERMED_Theme-1-rgba;
$GrannyApple: $HERMED_Theme-2-rgba;
$Champagne: $HERMED_Theme-3-rgba;
$Charade: $HERMED_Theme-4-rgba;
$Carnation: $HERMED_Theme-5-rgba;
$Reef: $More-Colors-1-rgba;
$PastelGreen: $More-Colors-2-rgba;

$info: $UI-Color-3-rgba;
$success: $UI-Color-5-rgba;
$error: $UI-Color-2-rgba;

/* GRAY
//rgba(40, 48, 51, 0.51),*/
$white: gray(100);
$gray-99: gray(99);
$gray-97: gray(97);
$gray-87: gray(87);
$gray-72: gray(72);
$gray-47: gray(47);


$themes: (

chat: (
  titleFont:'soleil',
  mainFont: 'soleil',
  textColor: $Charade,
  textColorSecondary: $white,

  backgroundColorSecondary: $Paradiso,
  backgroundColor: $Champagne,

  shadow: $gray-72,
  fieldsText: $gray-47,
  helperText: $gray-87,
  info: $Carnation,
  error: $error,
  success: $success,
  link: $Carnation,

  // Buttons
  buttonTextTransform: uppercase,
  buttonTextColor: $white,
  buttonTextHoverColor: $Charade,

  buttonColor: $Carnation,
  buttonBorder: 2px solid $Carnation,
  buttonHoverColor: $Oasis,
),
  light: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $Charade,
    textColorSecondary: $Carnation,

    backgroundColorSecondary: $white,
    backgroundColor: $white,

    shadow: $gray-72,
    fieldsText: $gray-47,
    helperText: $gray-87,
    info: $Carnation,
    error: $error,
    success: $success,
    link: $Carnation,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextHoverColor: $Charade,

    buttonColor: $Carnation,
    buttonBorder: 2px solid $Carnation,
    buttonHoverColor: $Oasis,
  ),

  default: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $Charade,
    textColorSecondary: $Carnation,

    backgroundColorSecondary: $white,
    backgroundColor: $white,

    shadow: $gray-72,
    fieldsText: $gray-47,
    helperText: $gray-87,
    info: $Carnation,
    error: $error,
    success: $success,
    link: $Carnation,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextHoverColor: $Charade,

    buttonColor: $Carnation,
    buttonBorder: 2px solid $Carnation,
    buttonHoverColor: $Oasis,
  ),

  dark_orange: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $Charade,
    textColorSecondary: $Charade,

    backgroundColorSecondary: $OasisLight,
    backgroundColor: $Oasis,

    shadow: $SeaBuckthorn,
    fieldsText: $gray-47,
    helperText: $gray-87,
    info: $Carnation,
    error: $error,
    success: $success,
    link: $Carnation,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextHoverColor: $Charade,

    buttonColor: $Carnation,
    buttonBorder: 2px solid $Carnation,
    buttonHoverColor: $SeaBuckthorn,
  ),

  dark: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $gray-99,
    textColorSecondary: $Charade,

    backgroundColorSecondary: $OasisLight,
    backgroundColor: $Charade,

    shadow: $SeaBuckthorn,
    fieldsText: $gray-47,
    helperText: $gray-87,
    info: $SeaBuckthorn,
    error: $error,
    success: $success,
    link: $SeaBuckthorn,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextHoverColor: $Charade,

    buttonColor: $Carnation,
    buttonBorder: 2px solid $Carnation,
    buttonHoverColor: $SeaBuckthorn,
  ),
);
