@import 'adobe';


$OuterSpace: $GKA-Theme-1-rgba;
$Elm: $GKA-Theme-2-rgba;
$Bermuda: $GKA-Theme-3-rgba;
$DeepSeaGreen: $UI-Color-4-rgba;
$SandyBrown: $GKA-Theme-4-rgba;
$Coral: #ff7954;
$Oasis: $UI-Color-1-rgba;
$OasisLight: lighting($Oasis, 97%);
$SeaBuckthorn: $GKA-Theme-5-rgba;

$Paradiso: $HERMED_Theme-1-rgba;
$ParadisoLight: lighting($Paradiso, 90%);
$ParadisoAlpha: alphaness($Paradiso, 0.5);
$GrannyApple: $HERMED_Theme-2-rgba;
$Champagne: $HERMED_Theme-3-rgba;
$Charade: $HERMED_Theme-4-rgba;
$Carnation: $HERMED_Theme-5-rgba;
$Reef: $More-Colors-1-rgba;
$PastelGreen: $More-Colors-2-rgba;

$info: $UI-Color-3-rgba;
$success: $UI-Color-5-rgba;
$error: $UI-Color-2-rgba;

/* GRAY
//rgba(40, 48, 51, 0.51),*/
$white: gray(100);
$gray-85: gray(85);
$gray-79: gray(79);
$gray-72: gray(72);
$gray-52: gray(52);

$whiteAlpha-55: alphaness($white, 0.55);

$themes: (

  chat: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $Charade,
    textColorSecondary: $white,

    backgroundColor: $Champagne,
    backgroundColorSecondary: $Paradiso,
    backgroundColorTertiary: $white,

    shadow: $gray-79,
    fieldsText: $gray-52,
    inputBorder: $gray-85,
    helperText: $gray-72,
    info: $Carnation,
    error: $error,
    success: $success,
    warning: $SeaBuckthorn,
    link: $Carnation,
    disabled: $gray-52,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextColorSecondary: $Paradiso,
    buttonTextHoverColor: $Charade,

    buttonColor: $Paradiso,
    buttonBorder: 1px solid $Paradiso,
    buttonHoverColor: $GrannyApple,

    //Chat
    ChatBubbleBackgroundDefault: $whiteAlpha-55,
    ChatBubbleBackgroundPrimary: $Reef,
    ChatBubbleBackgroundSecondary: $white,

  ),
  landing: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $Charade,
    textColorSecondary: $Carnation,

    backgroundColorSecondary: $white,
    backgroundColor: $white,

    shadow: $gray-79,
    fieldsText: $gray-52,
    inputBorder: $gray-85,
    helperText: $gray-72,
    info: $Carnation,
    error: $error,
    success: $success,
    link: $Carnation,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextColorSecondary: $Carnation,
    buttonTextHoverColor: $Charade,

    buttonColor: $Carnation,
    buttonBorder: 1px solid $Carnation,
    buttonHoverColor: $Oasis,

    //Chat
    ChatBubbleBackgroundDefault: $whiteAlpha-55,
    ChatBubbleBackgroundPrimary: $Reef,
    ChatBubbleBackgroundSecondary: $white,

  ),

  default: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $Charade,
    textColorSecondary: $Carnation,

    backgroundColorSecondary: $white,
    backgroundColor: $white,

    shadow: $gray-79,
    fieldsText: $gray-52,
    inputBorder: $gray-85,
    helperText: $gray-72,
    info: $Carnation,
    error: $error,
    success: $success,
    link: $Carnation,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextColorSecondary: $Carnation,
    buttonTextHoverColor: $Charade,

    buttonColor: $Carnation,
    buttonBorder: 1px solid $Carnation,
    buttonHoverColor: $Oasis,
  ),

);
