@import 'adobe';

/* GRAY
//rgba(40, 48, 51, 0.51),*/
$white: gray(100);
$gray-92: gray(92);
$gray-85: gray(85);
$gray-79: gray(79);
$gray-72: gray(72);
$gray-52: gray(52);

$whiteAlpha-55: alphaness($white, 0.55);


/* Project's colors */
$Pelorous: rgba(67,169,175, 1);
$ClearDay: rgba(229,255,248, 1);
$Zumthor: rgba(233,243,255, 1);

$Carnation: $HERMED_Theme-5-rgba;
$Rajah: rgba(250,186,100, 1);
$Champagne: $HERMED_Theme-3-rgba;

$Charade: $HERMED_Theme-4-rgba;

$PastelGreen: $More-Colors-2-rgba;
$Reef: $More-Colors-1-rgba;
$Mustard: $UI-Color-1-rgba;

/* UI Color */
$blue: $UI-Color-3-rgba;
$green: $More-Colors-2-rgba;
$red: $Carnation;
$yellow: $Mustard;


$themes: (
  blue-light: (
    primaryFont:'soleil',
    secondaryFont: 'soleil',

    primaryBasic: $Charade,
    secondaryBasic: $white,
    secondaryBasicAlpha: $whiteAlpha-55,

    primaryColor: $Pelorous,
    primaryColorLight: $Zumthor,
    primaryColorDark: $ClearDay,

    secondaryColor: $Carnation,
    secondaryColorLight: $Champagne,
    secondaryColorDark: $Rajah,

    thirdColor:$PastelGreen,
    thirdColorLight:$Reef,
    thirdColorDark:$red,

    statusBlue:$blue,
    statusRed:$red,
    statusGreen:$green,
    statusYellow:$yellow,

    light: $white,

    grayLightest:$gray-92,
    grayLight: $gray-85,
    grayLighter:$red,
    gray: $gray-79,
    grayDark:$gray-72,
    grayDarker:$gray-52,
    grayDarkest:$red,

    dark: $Charade,

    disabled:$gray-79 // keywords like grey or red doesnt work
  ),

  pink-light: (
    primaryFont:'soleil',
    secondaryFont: 'soleil',

    primaryBasic: $Charade,
    secondaryBasic: $white,
    secondaryBasicAlpha: $whiteAlpha-55,

    primaryColor: $Carnation,
    primaryColorLight: $Champagne,
    primaryColorDark: $Rajah,

    secondaryColor: $Pelorous,
    secondaryColorLight: $Zumthor,
    secondaryColorDark: $ClearDay,

    thirdColor:$PastelGreen,
    thirdColorLight:$Reef,
    thirdColorDark:$red,

    statusBlue:$blue,
    statusRed:$red,
    statusGreen:$green,
    statusYellow:$yellow,

    light: $white,

    grayLightest:$gray-92,
    grayLight: $gray-85,
    grayLighter:$red,
    gray: $gray-79,
    grayDark:$gray-72,
    grayDarker:$gray-52,
    grayDarkest:$red,

    dark: $Charade,

    disabled:$gray-79

  ),

  default: (
    primaryFont:'soleil',
    secondaryFont: 'soleil',

    primaryBasic: $Charade,
    secondaryBasic: $white,
    secondaryBasicAlpha: $whiteAlpha-55,

    primaryColor: $Carnation,
    primaryColorLight: $Champagne,
    primaryColorDark: $Rajah,

    secondaryColor: $Pelorous,
    secondaryColorLight: $Zumthor,
    secondaryColorDark: $ClearDay,

    thirdColor:$PastelGreen,
    thirdColorLight:$Reef,
    thirdColorDark:$red,

    blue:$blue,
    red:$red,
    green:$green,
    yellow:$yellow,

    light: $white,

    grayLightest:$red,
    grayLight: $gray-85,
    grayLighter:$red,
    gray: $gray-79,
    grayDark:$gray-72,
    grayDarker:$gray-52,
    grayDarkest:$red,

    dark: $Charade,
  ),

);
