.scheme-navbar {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
  @include themify($themes) {
    @include themed_font("primaryFont", "bold");
    color: themed("secondaryBasic");
    background-color: themed("primaryColor");
  }

  &--toolbar {
    h2 {
      @include themify($themes) {
        color: themed("secondaryBasic");

        @include themed_font("secondaryFont", "semi-bold");
      }
    }
    .button {
      &:focus,
      &:active {
        @include themify($themes) {
          color: themed("secondaryBasic");
        }
      }
    }
  }
}
