.scheme-navbar {
  @include themify($themes) {
    @include themed_font("primaryFont", "bold");
    color: themed("secondaryBasic");
    background-color: themed("primaryColor");
  }

  h2 {
    @include themify($themes) {
      color: themed("secondaryBasic");

      @include themed_font("secondaryFont", "semi-bold");
    }
  }

  .button {
    &.text {
      @include themify($themes) {
        color: themed("secondaryBasic");
      }
    }
  }
}
