.scheme-normal {
    @include fluid-type(font-size, 320px, 1366px, 12px, 16px);

    @include themify($themes) {
        @include themed_font('secondaryFont','regular');
        color: themed("primaryBasic");
        background-color: themed("secondaryBasic");
    }


    h1,h2 {
        @include themify($themes) {
        @include themed_font('secondaryFont','regular');

          color: themed('secondaryColor');
        }
      }

    
    & .subtitle {
        @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
        @include themify($themes) {
            @include themed_font("secondaryFont", "light-italic");
            color: themed("grayLight");
        }
    }
  
}