.underline {
  text-decoration: underline;
}

.material-icons {
	line-height: 1.2;
}

/* 0.3 - GENERAL CLASSES */
.background {
	background-position: center;
    background-repeat: no-repeat;
}
.bg-cover {
    background-size: cover;
}

.cover_container {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0;
}

.cover {
	width: 100%;
	height: 100vh;
	min-height: 100%;
	margin: 0px auto;
  @include flex;
  @include flex-direction(column);
  &--align-center {
    @include flex-align(center);
  }
  &--just-center{
     @include flex-just(center);
  }
}

.centered{
  width: 100%;
  margin: 0px auto;
  @include flex;
  @include flex-direction(column);
  @include flex-just(center);
	@include flex-align(center);
}

.content_container {
	margin: 0px 20px;
	padding-top:20px;
}

.separate {
	margin: 30px 0px;
}

.error{
	color:$cDefaultError;
}

.info{
	color:$cDefaultInfo;
	a {
		color: $cDefaultLink;
		text-decoration: underline;
	}
}

.text-left{
	text-align: left !important;
}


/* 0.4 - PREFIXER */
.transition {
	-webkit-transition: all ease-in 0.2s;
	transition: all ease-in 0.2s;
}


.langue-container .active{
	font-weight: bold;
}
