*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



html,
body {
	width: 100%;
	@include fluid-type(font-size, 320px, 1366px, 16px, 18px);
	line-height: 1.3em;
	@include themify($themes) {
		color: themed('primaryBasic');
		background-color: themed('secondaryBasic');
		@include themed_font('secondaryFont','regular');
	}
}

section,footer {
	@include themify($themes) {
		color: themed('primaryBasic');
		background-color: themed('secondaryBasic');
		@include themed_font('secondaryFont','light');
	}

}

/*test*/
h1 {
	line-height: 1.3em;
	@include themify($themes) {
		@include themed_font('primaryFont','semi-bold');
	}
	@include fluid-type(font-size, 320px, 1366px, 40px, 50px);
}

h2 {
	line-height: 1.2em;
	@include themify($themes) {
		color: themed('primaryBasic');
		@include themed_font('secondaryFont','regular');
	}
	@include fluid-type(font-size, 320px, 1366px, 14px, 18px);
}

h3 {
	line-height: 1.2em;
	@include themify($themes) {
	 color: themed('primaryBasic');
	 @include themed_font('secondaryFont','bold');
	}
	@include fluid-type(font-size, 320px, 1366px, 18px, 38px);
}

h4 {
	line-height: 1.2em;
	@include themify($themes) {
	 color: themed('primaryBasic');
	 @include themed_font('secondaryFont','semi-bold');
	}
	@include fluid-type(font-size, 320px, 1366px, 16px, 18px);
}

p {
	@include themify($themes) {
	 color: themed('primaryBasic');
	}
}

label, input {
	@include themify($themes) {
		@include themed_font('secondaryFont', 'regular');
	}
}

a {
	text-decoration: none;
	@include themify($themes) {
		color: themed('primaryColor');
		@include themed_font('secondaryFont','regular');
	}
}

b {
	font-weight:bold;
}


footer{
	text-align: center;
	@include themify($themes) {
		color: themed('primaryBasic');
	}
	min-width: 100%;
	@include themify($themes) {
	 @include themed_font('secondaryFont','regular');
	}
	@include fluid-type(font-size, 320px, 1366px, 14px, 16px);
}
