.active-call{
  position: fixed;
  top:0px;
  left:0px;
  width: 100vw;
  height: 30px;
  @include themify($themes) {
		background-color:  themed('statusGreen');
    color : themed('secondaryBasic');
    @include themed_font('secondaryFont', 'semi-bold');
	}

  text-align: center;
  padding-top: 5px;

}
