%block {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 40px;
  padding: 1em 1.5em;
}

.button {
  max-width: 500px;
  cursor: pointer;
  text-transform: uppercase;
	@include themify($themes) {
		@include themed_font('secondaryFont', 'semi-bold');
	}

  &.round{
    @extend %block;
    border-radius: 50px;
    margin: 0px;
    @include themify($themes) {
      border: 1px solid themed('primaryColor');
    }

    svg {
      width: 32px;
      height: 32px;
      @include mq-width-and-lower(425px){
        width: 24px;
        height: 24px;

      }
    }
  }

  &.success{
    @include themify($themes) {
      background-color: themed('green');
      color: white;
    }
  }
  &.failure{
    @include themify($themes) {
      background-color: themed('red');
      color: white;
    }
  }
  &.fit{
    width:auto;
  }

	&.contained,
	&.outlined
	{
    @extend %block;
		@include themify($themes) {
			color: themed('secondaryBasic');
			border: 1px solid themed('primaryColor');
		}
	}

	&.contained {
		@include themify($themes) {
			background-color:themed('primaryColor');
		}
	}

	&.outlined {
		background-color: transparent;
		@include themify($themes) {
			color:themed('primaryColor');
			/*box-shadow: 0px 1px 5px 0px themed('gray');*/
		}
	}

	&.text {
		background-color: transparent;
		border: none;
		@include themify($themes) {
			color:themed('primaryColor');
		}
	}


  &.toolbar {
    background-color: transparent;
    border: none;

    @include themify($themes) {
      color:themed('secondaryBasic');
    }
  }

  &.icon {
    display: flex;
    margin-right: 10px;
  }

  &.icon--32 {
    svg {
      width: 32px;
      height: 32px;
      @include mq-width-and-lower(425px){
        width: 24px;
        height: 24px;
      }
    }
  }



	&:hover, &:focus {
		@include themify($themes) {
			color: themed('primaryBasic');
		}
	}

  &.outlined:hover, &.outlined:focus,&.contained:hover, &.contained:focus {
    @include themify($themes) {
      border: 1px solid themed('primaryColorDark');
      background-color:themed('primaryColorDark');
    }
  }

  &:active{
    @include themify($themes) {
			color: themed('primaryColor');
		}
  }

  &.outlined:active, &.contained:active{
    @include themify($themes) {
      color: themed('secondaryBasic');
      border: 1px solid themed('primaryColor');
      background-color:themed('primaryColor');
    }
  }
}

.button, .button:active{
	outline: none;
}
