%block {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 40px;
  padding: 1em 1.5em;
}

.button {
  max-width: 500px;
  cursor: pointer;
	@include themify($themes) {
		text-transform: themed('buttonTextTransform');
		@include themed_font('mainFont', 'semi-bold');
	}

  &.fit{
    width:auto;
  }

	&.contained,
	&.outlined
	{
    @extend %block;
		@include themify($themes) {
			color: themed('buttonTextColor');
			border: themed('buttonBorder');
		}
	}

	&.contained {
		@include themify($themes) {
			background-color:themed('buttonColor');
		}
	}

	&.outlined {
		background-color: transparent;
		@include themify($themes) {
			color:themed('buttonTextColorSecondary');
			box-shadow: 0px 1px 5px 0px themed('shadow');
		}
	}
	&.text {
		background-color: transparent;
		border: none;
		@include themify($themes) {
			color:themed('buttonTextColorSecondary');
		}
	}

	&:hover, &:focus {
		@include themify($themes) {
			color: themed('buttonTextHoverColor');
		}
	}
  &:hover:not(.text), &:focus:not(.text) {
    @include themify($themes) {
      border: 1px solid themed('buttonHoverColor');
      background-color:themed('buttonHoverColor');
    }
  }
  &:active{
    @include themify($themes) {
			color: themed('buttonTextColorSecondary');
		}
  }
  &:active:not(.text){
    @include themify($themes) {
      color: themed('buttonTextColor');
      border: 1px solid themed('buttonBorder');
      background-color:themed('buttonColor');
    }
  }
}

.button, .button:active{
	outline: none;
}
