

.hermed-chat{
    display:grid;
    min-height: 100vh;
    height:100vh;

    grid-template-columns: 100vw;
    grid-template-rows: 76px auto 138px;
    grid-template-areas:
      "header"
      "chat"
      "tools"

}

.hermed-chat > header {
  grid-area: header;
  background-color:#388279;
  color: white;
  @include themify($themes) {
    @include themed_font('mainFont','regular');

    color: themed('textColorSecondary');
		background-color: themed('backgroundColorSecondary');
	}
  text-align:center;

  .average-time{
    @include themify($themes) {
      @include themed_font('titleFont','semi-bold');
    }
    font-size: 40px;
  }
}


/*Chat content, bubbles etc*/
.hermed-chat > .chat {
  grid-area: chat;
  padding: 10px 25px;
  align-content: center;
  align-items: center;
  overflow-y: scroll;
  height:100%;

  & >*:first-child{
    margin-top: auto;
  }
  @include themify($themes) {
    @include themed_font('mainFont','regular');
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }

}
.hermed-chat > .tools {
  padding: 10px 25px;
  grid-area: tools;
  height:100%;
  @include themify($themes) {
    @include themed_font('titleFont','semi-bold');
    color: themed('textColorSecondary');
    background-color: themed('backgroundColorSecondary');
  }
  .toolbar {
    width:100%;
    padding-top:10px;
    padding-bottom:15px;
    @include flex;
    @include flex-direction(row);
    @include flex-just(space-between);

    button{
      @include themify($themes) {
        @include themed_font('titleFont','bold');
        color: themed('textColorSecondary');
        background-color: themed('backgroundColorSecondary');
        border-color: themed('backgroundColorSecondary');
        border: themed('buttonBorder');
      }
    }
  }
  .text-input{

    height: 40px;
    width: 100%;
    form{
      height:100%;
      margin:0px;
      padding:0px;
    }

    input {
      border: 1px solid #1B263030;
      border-radius: 4px;
      height:100%;
      width:100%;
    }
  }
}
