.chat-footer {
  
  @extend .scheme-navbar;

  &__toolbar{
  //  @extend .scheme-navbar--toolbar;
  }
  
  .chat-footer__message-input {
    margin: 0px auto;
  }


  .chat-footer__toolbar > *:last-child {
    margin-right: 0px;
  }


  .chat-footer__message-input {
    position: relative;
    width:100%;

    .single-input input {
      border-radius: 4px 0px 0px 4px;
      border-right: none;
    }
    .button--send {
      border-radius: 0px 4px 4px 0px;
      margin: 6px 0px;
      padding-top: 0px;
      padding-bottom: 0px;

      @include themify($themes) {
        color: themed("secondaryBasic");
        background-color: themed("secondaryBasic");
        border: solid 1px themed("grayLight");
        border-left: none;
      }
    }

   

    svg {
      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }
}
