.chat-bubble {
  max-width:80%;
  margin-bottom: 6px;
  padding: 8px 13px 4px;
  @include flex;
  @include flex-direction(column);

  &.welcome{
    padding: 10px 20px;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;

    @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
    @include themify($themes) {
      background-color: themed('ChatBubbleBackgroundDefault');
      @include themed_font('mainFont','bold');
    }

    .chat-bubble__date {
      display: none;
    }
  }

  &.right, &.left {
    @include themify($themes) {
      @include themed_font('mainFont','regular');
      @include fluid-type(font-size, 320px, 1366px, 14px, 16px);
      color: themed('textColorSecondary');
      box-shadow: 0px 1px 2px 0px themed('shadow');
    }
  }

  &.right{
    border-radius: 10px 0px 10px 10px;
    @include flex-align-self-children(flex-end);
    @include themify($themes) {
      background-color: themed('ChatBubbleBackgroundPrimary');
    }
  }

  &.left{
    border-radius: 0px 10px 10px 10px;
    @include flex-align-self-children(flex-start);
    @include themify($themes) {
      background-color: themed('ChatBubbleBackgroundSecondary');
    }
  }

  &__date {
    @include flex-align-self-children(flex-end);
    @include themify($themes) {
      @include themed_font('mainFont','light');
      @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
      color: themed('fieldsText');
    }
  }

}
