.chat-bubble {
  border-radius: 5px;
  max-width:80%;
  margin: 5px;
  padding: 5px 13px;
  @include flex;
  @include flex-direction(column);



  &.welcome{
    padding: 10px 20px;
    text-align: justify;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto 10px;
    border-radius: 10px;

    @include themify($themes) {
      @include themed_font('mainFont','italic');
      background-color: themed('ChatBubbleBackgroundDefault');
    }
    @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
    text-align: justify;
    min-width: 300px;
    max-width:400px;
    margin: 0 auto;
  }

  &.right{
    clear:both;
    float:right;
    border-radius: 10px 0px 10px 10px;
    @include flex-align-self-children(flex-end);
    @include themify($themes) {
      @include themed_font('mainFont','regular');
      @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
      color: themed('textColorSecondary');
      background-color: themed('ChatBubbleBackgroundPrimary');
    }
  }
  &.left{
    clear:both;
    float:left;
    border-radius: 0px 10px 10px 10px;
    @include flex-align-self-children(flex-start);
    @include themify($themes) {
      @include themed_font('mainFont','regular');
      @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
      color: themed('textColorSecondary');
      background-color: themed('ChatBubbleBackgroundSecondary');
    }
  }

  &__date {
    @include flex-align-self-children(flex-end);
    @include themify($themes) {
      @include themed_font('mainFont','light');
      @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
      color: themed('fieldsText');
    }
  }

}
