.chat-footer {
  padding-left: 25px;
  padding-right: 25px;
  @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
  @include themify($themes) {
    @include themed_font('titleFont','bold');
    color: themed('textColorSecondary');
    background-color: themed('backgroundColorSecondary');
  }

  .chat-footer__tools {
    max-width: 400px;
  }

  .chat-footer__tools,
  .chat-footer__message-input {
    margin: 0px auto;
  }

  .chat-footer__message-input {
    position: relative;

    .single-input input {
      border-radius: 4px 0px 0px 4px;
      border-right: none;
    }
    .button--send {
      border-radius: 0px 4px 4px 0px;
      margin: 6px 0px;
      padding-top: 0px;
      padding-bottom: 0px;

      @include themify($themes) {
        color:themed('buttonTextColor');
        background-color: themed('backgroundColorTertiary');
        border: solid 1px themed('inputBorder');
        border-left: none;
      }

    }

    svg {
      @include themify($themes) {
        color:themed('buttonTextColorSecondary');
      }
    }
  }

  button {
    &.text {
      @include themify($themes) {
        color:themed('buttonTextColor');
      }
    }

    &.icon {
      display: flex;
      margin-right: 10px;
      @extend .flex-column;
      @extend .align-center;
    }

    &.icon--32 {
      svg {
        width: 32px;
        height: 32px;
        @include mq-width-and-lower(425px){
          width: 24px;
          height: 24px;
        }
      }
    }
    &.icon--48 {
      svg {
        width: 48px;
        height: 48px;
      }
    }

  }

}
