.contextual-menu{
  position: absolute;
  

  &.contextual-menu--state-closed .contextual-menu__background{
    display:none;
  }

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;

  overflow-y: hidden;
  transition: width 800ms ease-in;
  &.contextual-menu--state-closed{
    height:0px;
    width:0px;
  }
}
