.headline {
  min-height: 63px;
  @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
  @include themify($themes) {
    @include themed_font('primaryFont','bold');
    color: themed('secondaryBasic');
    background-color: themed('primaryColor');
  }

  button {
    &.text {
      @include themify($themes) {
        color:themed('secondaryBasic');
      }
    }

    &.icon {
      display: flex;
      margin-right: 10px;
      @extend .flex-column;
      @extend .align-center;
    }

    &.icon--32 {
      svg {
        width: 32px;
        height: 32px;
        @include mq-width-and-lower(425px){
          width: 24px;
          height: 24px;
        }
      }
    }

  }

  &__contact-dot {
      height: 16px;
      width: 16px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 8px;
      @include themify($themes) {
        background-color: themed('grayLight');
      }

      &.disconnected {
        @include themify($themes) {
          background-color: themed('red');
        }
      }
      &.waiting {
        @include themify($themes) {
          background-color: themed('yellow');
        }
      }
      &.online {
        @include themify($themes) {
          background-color: themed('green');
        }
      }


  }

  &__contact-status {
    margin-left: calc(16px + 8px);
    @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
    @include themify($themes) {
      @include themed_font('secondaryFont','light-italic');
      color:themed('grayLight');
    }
  }

}
