.single-input {
  width: 100%;
  padding: 6px 0px;

  label {
    @include themify($themes) {
      color: themed('primaryBasic');
      @include themed_font('secondaryFont','regular');
    }
    @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
  }

  input {
    height: 48px;
    //max-width: 500px;
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 4px;

    @include themify($themes) {
      color: themed('primaryBasic');
      border: solid 1px themed('grayLight');
      @include themed_font('secondaryFont','regular');
    }
    @include fluid-type(font-size, 320px, 1366px, 14px, 16px);

    &:focus {
      @include themify($themes) {
        color: themed('primaryBasic');
        border: solid 1px themed('primaryBasic');
        @include themed_font('secondaryFont','regular');
      }
    }

    &::placeholder {
      @include themify($themes) {
        color: themed('grayDark');
        @include themed_font('secondaryFont','thin');
      }
    }

  }

}
