.single-input.--checkbox{
  width: auto;
  padding: 6px 0px;


  label {
    @include themify($themes) {
      color: themed('textColor');
      @include themed_font('mainFont','regular');
    }
    @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
  }

  input {
    // height: 48px;
    // width: 48px;
    margin: 0px;


    @include themify($themes) {
      color: themed('textColor');
      border: solid 1px themed('inputBorder');
      @include themed_font('mainFont','regular');
    }
    @include fluid-type(font-size, 320px, 1366px, 14px, 16px);

    &:focus {
      @include themify($themes) {
        color: themed('textColor');
        border: solid 1px themed('textColor');
        @include themed_font('mainFont','regular');
      }
    }

  }
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    margin: 4px 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 14px;
    top: 6px;
    width: 13px;
    height: 23px;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}
