.list-item{
  min-height: 48px;
  min-width:100%;
  opacity: 1;
  cursor:pointer;
  @include flex();
  @include flex-direction(row);
  @include flex-align(center);
  @include flex-just(space-between);
  text-transform: uppercase;

  @include themify($themes) {
    @include themed_font('secondaryFont', 'semi-bold');
    @include fluid-type(font-size, 320px, 1366px, 12px, 14px);
    border-color: themed('grayLight');
  }

  &:hover{
    @include themify($themes) {
      background-color: themed('grayLight');
    }
    transition: background-color 0.2s ease-out;
  }


  border-bottom: 1px solid;

  .list-item-content {
    @include flex();
    @include flex-direction(row);
    @include flex-align(center);
  }
  .list-item__title{
    padding-left:10px;
  }
  .list-item__icon{
    @include themify($themes) {
      @include fluid-type(font-size, 320px, 1366px, 16px, 20px);
    }
    padding-left:  25px;
    padding-right:25px;
     width: 16px;
     height: 16px;
  }

  .list-item__optional {
    padding-right:25px;
    width: 16px;
    height: 16px;
  }
}
