.navbar {
    min-height: 63px;
    height: 100%;
    @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
    @include themify($themes) {
      @include themed_font('primaryFont','bold');
      color: themed('secondaryBasic');
      background-color: themed('primaryColor');
    }
    
    &--toolbar{

    }
  }
  