
/* Custom sections */
.patient-item{
  max-width:300px;
  min-width: 250px;
  min-height: 80px;
  padding: 5px;

  @include themify($themes) {
    @include themed_font('secondaryFont','regular');
    color: themed('primaryBasic');
		background-color: themed('secondaryBasic');
    box-shadow: 5px 5px 4px themed('gray');
	}

  @include flex();
  @include flex-direction(row);
  @include flex-just(space-between);
  @include flex-align(center);

  > .status{
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    border-radius: 50px;

    &.warning{
      @include themify($themes) {
        background-color: themed('red');
      }
    }
    &.online{
      @include themify($themes) {
        background-color: themed('green');
      }
    }
    &.offline{
      @include themify($themes) {
        background-color: themed('red');
      }
    }
    &.unkown{
      @include themify($themes) {
        background-color: themed('grayLight');
      }
    }
  }

  >.coords{
    @include flex();
    @include flex-direction(column);
  }
}
