.sidebar{
  position: absolute;
  max-width: 50vw;
  left: 0px;
  min-width: 270px;
  height: 100%;

  @include themify($themes) {
    background: themed('secondaryBasic');
    box-shadow:themed('gray');
  }

  opacity: 1;
  max-height: 100%;
  overflow-y: auto;


  transition: left 800ms ease-in;

  &.sidebar--state-closed{
    left:-100%;
  }
}
