.sidebar{
  height: 100%;
  max-height: 100%;
  max-width: 50vw;
  
  min-width: 270px;

  overflow-y: auto;
  transition: left 500ms ease-in;
  @include themify($themes) {
    background: themed('secondaryBasic');
    box-shadow: 0px 3px 6px themed('disabled');
  }

  

  &__modal{
  transition: opacity 500ms ease-in;
    
    &--closed{
      opacity:0;
      pointer-events: none;
    }

    .sidebar {
      position:absolute;
      left: 0px;

      &--closed{
        left:-100%;
      }
    }
  }
}
