.video{

  &.preview{
    position:fixed;
    top: 30px;
    right: 30px;
    min-width:100px;
    max-width: 200px;

    @include mq-width-and-lower(425px){
      max-width: 120px;
      min-width: 120px;

    }
    @include mq-width-and-lower(321px){
      max-width: 100px;
      min-width: 100px;

    }

  }
}
