
/* Custom sections */
.waiting-room {
  display:grid;
  min-height: 100%;
  height:100%;
  max-height:100%;
  grid-template-columns: 100vw;
  grid-template-rows: 76px auto;
  grid-template-areas:
    "header"
    "content";

  @include themify($themes) {
    @include themed_font('mainFont','regular');
    @include fluid-type(font-size, 320px, 1366px, 12px, 16px);
    color: themed('textColorPrimary');
    background-color: themed('backgroundColor');

  }

  >.headline {
    grid-area:header;
  }

  >.content {
    grid-area:content;
    @include flex();
    @include flex-direction(column);
    @include flex-align(center);
    overflow-y: scroll;
    height:100%;
  
  }

}
