$px12: 1rem;
$px13: 1.083rem;
$px14: 1.166rem;
$px15: 1.25rem;
$px16: 1.333rem;
$px17: 1.416rem;
$px18: 1.5rem;
$px19: 1.583rem;
$px20: 1.666rem;
$px21: 1.75rem;
$px22: 1.833rem;
$px23: 1.916rem;
$px24: 2rem;
$px25: 2.083rem;
$px26: 2.166rem;
$px27: 2.25rem;
$px28: 2.333rem;
$px29: 2.416rem;
$px30: 2.5rem;
$px31: 2.583rem;
$px32: 2.666rem;
$px33: 2.75rem;
$px34: 2.833rem;
$px35: 2.916rem;
$px36: 3rem;
$px37: 3.083rem;
$px38: 3.166rem;
$px39: 3.25rem;
$px40: 3.333rem;
$px41: 3.416rem;
$px42: 3.5rem;
$px43: 3.583rem;
$px44: 3.666rem;
$px45: 3.75rem;
$px46: 3.833rem;
$px47: 3.916rem;
$px48: 4rem;
$px49: 4.083rem;
$px50: 4.166rem;
