$px12: 0.6666rem;
$px13: 0.7222rem;
$px14: 0.7777rem;
$px15: 0.8333rem;
$px16: 0.8888rem;
$px17: 0.9444rem;
$px18: 1rem;
$px19: 1.0555rem;
$px20: 1.1111rem;
$px21: 1.1666rem;
$px22: 1.2222rem;
$px23: 1.2777rem;
$px24: 1.3333rem;
$px25: 1.3888rem;
$px26: 1.4444rem;
$px27: 1.5rem;
$px28: 1.5555rem;
$px29: 1.6111rem;
$px30: 1.6666rem;
$px31: 1.7222rem;
$px32: 1.7777rem;
$px33: 1.8333rem;
$px34: 1.8888rem;
$px35: 1.9444rem;
$px36: 2rem;
$px37: 2.0555rem;
$px38: 2.1111rem;
$px39: 2.1666rem;
$px40: 2.2222rem;
$px41: 2.2777rem;
$px42: 2.3333rem;
$px43: 2.3888rem;
$px44: 2.4444rem;
$px45: 2.5rem;
$px46: 2.5555rem;
$px47: 2.6111rem;
$px48: 2.6666rem;
$px49: 2.7777rem;
$px50: 2.8333rem;
