@import 'GKA-adobe';


$white: gray(100);
$black: gray(0);

$cDefaultLink: #337ab7;
$cDefaultError: #ff0000;
$cDefaultInfo: green;

$white: gray(100);
$OuterSpace: $GKA-Theme-1-rgba;
$Elm: $GKA-Theme-2-rgba;
$Bermuda: $GKA-Theme-3-rgba;
$DeepSeaGreen: $UI-Color-4-rgba;
$SandyBrown: $GKA-Theme-4-rgba;
$Coral: #ff7954;
$Oasis: $UI-Color-1-rgba;
$OasisLight: lighting($Oasis, 97%);
$SeaBuckthorn: $GKA-Theme-5-rgba;


$blue: $UI-Color-3-rgba;
$green: $UI-Color-5-rgba;
$red: $UI-Color-2-rgba;
$yellow: $UI-Color-1-rgba;


/* GRAY
//rgba(40, 48, 51, 0.51),*/
$gray-99: gray(99);
$gray-97: gray(97);
$gray-87: gray(87);
$gray-72: gray(72);
$gray-47: gray(47);

$themes: (
  light: (
    titleFont:'soleil',
    mainFont: 'soleil',
    textColor: $OuterSpace,
    textColorSecondary: $OuterSpace,

    backgroundColorSecondary: $white,
    backgroundColor: $white,

    shadow: $gray-72,
    fieldsText: $gray-47,
    helperText: $gray-87,
    info: $Coral,
    error: $error,
    success: $success,
    link: $Coral,

    // Buttons
    buttonTextTransform: uppercase,
    buttonTextColor: $white,
    buttonTextHoverColor: $OuterSpace,

    buttonColor: $Coral,
    buttonBorder: 2px solid $Coral,
    buttonHoverColor: $Oasis,

    //NEW
    primaryFont:'soleil',
    secondaryFont: 'soleil',

    primaryBasic: $OuterSpace,
    secondaryBasic: $white,

    primaryColor: $Coral,
    primaryColorLight: $Oasis,
    primaryColorLighter: $OasisLight,
    primaryColorDark: $SeaBuckthorn,

    secondaryColor: $Elm,
    secondaryColorLight: $Bermuda,
    secondaryColorDark: $red,

    thirdColor:$DeepSeaGreen,
    thirdColorLight:$red,
    thirdColorDark:$red,

    blue:$blue,
    red:$red,
    green:$green,
    yellow:$yellow,

    light: $white,

    grayLightest:$red,
    grayLight: $gray-87,
    grayLighter:$red,
    gray: $gray-72,
    grayDark:$red,
    grayDarker:$gray-47,
    grayDarkest:$red,

    dark: $OuterSpace,
  ),
);
