$serif-fonts: "Times New Roman", Georgia, serif;
$sans-fonts: arial, verdana, tahoma, sans-serif;
$monospace-fonts: "Courier New", Courier, monospace;

$open-regular: 400;
$open-italic: italic;
$open-semi: 600;
$lato: 400;
$lato-bold: 700;
