
//test

.testview{
    grid-template-rows: 76px auto 138px;
}
.testview--2r{
    grid-template-rows: 76px auto ;
}

.force-header{
    grid-area: top;
}

.force-footer{
    grid-area: footer;
}

.layout-grid{
    border:1px dashed blue;
    & >* {
      border:1px dashed blue;
    }
}

.layout-flex {
    padding:5px;
    &>* {
        border:1px dashed blue;
    }
}